<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink="home">
                        Diggly
                    </a>
                </li>
                <li>
                    <a routerLink="about">
                        About
                    </a>
                </li>
                <li>
                    <a routerLink="documentation">
                        How-To
                    </a>
                </li>
                <li>
                    <a routerLink="license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Diggly</a> for better test data.
        </div>
    </div>
</footer>
