<!--The content below is only a placeholder and can be replaced.-->
<main>
  <mdc-drawer drawer="dismissible" #drawer id="drawer" class="shadow-container" [ngClass]="{'drawer-open': showDrawerLabels, 'drawer-close': !showDrawerLabels}">
    <div class="drawer-header-container">
      <mdc-drawer-header title="{{title}}" subtitle="Mocking Made Simple" *ngIf="showDrawerLabels"></mdc-drawer-header>
      <a mdc-list-item>
        <mdc-icon (click)="toggleDrawer()">{{drawerToggleIcon}}</mdc-icon>
      </a>
    </div>
    <mdc-drawer-content>
      <mdc-list useActivatedClass>
        <a mdc-list-item *ngFor="let item of links" routerLink="{{item.href}}">
          <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{showDrawerLabels ? item.label : null}}
        </a>
        <a mdc-list-item (click)="cycleHeaderImages()">
          <mdc-icon mdcListItemGraphic>palette</mdc-icon> Change Theme
        </a>
        <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item (click)="doLogout()" *ngIf="loggedIn">
          <mdc-icon mdcListItemGraphic>{{logout.icon}}</mdc-icon>{{logout.label}}
        </a>
        <a mdc-list-item (click)="toggleAuthType('signup')" *ngIf="!loggedIn">
          <mdc-icon mdcListItemGraphic>{{signup.icon}}</mdc-icon>{{signup.label}}
        </a>
        <a mdc-list-item (click)="toggleAuthType('login')" *ngIf="!loggedIn">
          <mdc-icon mdcListItemGraphic>{{login.icon}}</mdc-icon>{{login.label}}
        </a>
        <form *ngIf="!loggedIn && showAuthForm" id="auth-form">
         <mdc-icon (click)="dismissForm()" id="close">close</mdc-icon>
          <mdc-text-field #email label="Email" outlined  [dense]="false" [helperText]="userHelperEmail" [required]="true"></mdc-text-field>
          <p mdcTextFieldHelperText #userHelperEmail="mdcHelperText" validation>
            <span *ngIf="!email?.value">Email is required</span>
          </p>
          <br>
        <mdc-text-field #password type="password" label="Password" outlined  [dense]="false" [helperText]="userHelperPassword" [required]="true"></mdc-text-field>
          <p mdcTextFieldHelperText #userHelperPassword="mdcHelperText" validation>
            <span *ngIf="!password?.value">Password is required</span>
          </p>
          <div id="login-actions">
            <button mdc-button>Reset</button>
            <button [secondary]="true" mdc-button [raised]="true" (click)="submit(email.value, password.value)">{{auth.label}}</button>
          </div>
          <!--<TODO: Run the following in web browser only
          - img id="google-button" (click)="doGoogleLogin()" src="assets/icons/google/web/2x/btn_google_signin_light_normal_web@2x.png">-->
        </form>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>
  <div mdcDrawerAppContent [ngClass]="{'content-drawer-open': showDrawerLabels, 'content-drawer-close': !showDrawerLabels}" id="router">
      <div id="inner-router-container">
        <router-outlet></router-outlet>
      </div>
  </div>
</main>
