<!--The content below is only a placeholder and can be replaced.-->
<main>
  <mdc-drawer drawer="dismissible" #drawer id="drawer" [ngClass]="{'drawer-open': showDrawerLabels, 'drawer-close': !showDrawerLabels}">
    <div class="drawer-header-container">
      <mdc-drawer-header title="{{title}}" subtitle="Mocking Made Simple" *ngIf="showDrawerLabels"></mdc-drawer-header>
      <a mdc-list-item>
        <mdc-icon (click)="toggleDrawer()">{{drawerToggleIcon}}</mdc-icon>
      </a>
    </div>
    <mdc-drawer-content>
      <mdc-list useActivatedClass>
        <a mdc-list-item *ngFor="let item of links" routerLink="{{item.href}}">
          <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{showDrawerLabels ? item.label : null}}
        </a>
        <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item (click)="toggleLogin()" *ngIf="loggedIn || auth == login">
          <mdc-icon mdcListItemGraphic>{{auth.icon}}</mdc-icon>{{auth.label}}
        </a>
        <form *ngIf="auth == logout && !loggedIn">
          <mdc-text-field #demousername label="Username" [value]="username" outlined  [dense]="false" [helperText]="userHelperUsername" [required]="true"></mdc-text-field>
          <p mdcTextFieldHelperText #userHelperUsername="mdcHelperText" validation>
            <span *ngIf="!demousername?.value">Username is required</span>
          </p>
          <br>
        <mdc-text-field #demopassword label="Password" [value]="password" outlined  [dense]="false" [helperText]="userHelperPassword" [required]="true"></mdc-text-field>
          <p mdcTextFieldHelperText #userHelperPassword="mdcHelperText" validation>
            <span *ngIf="!demopassword?.value">Password is required</span>
          </p>
          <button id="login-submit" [secondary]="true" mdc-button [raised]="true" (click)="submitLogin()">Submit</button>
        </form>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>
  <div mdcDrawerAppContent [ngClass]="{'content-drawer-open': showDrawerLabels, 'content-drawer-close': !showDrawerLabels}" id="router">
    <div id="background">
      <img (click)="cycleHeaderImages()" src="assets/img/wall-{{imageIndex}}.jpg" />
      <div id="inner-router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
