mdc-drawer {
  height: 100vh;
}
form {
  margin: auto;
  padding: 1rem;
}
mdc-text-field {
  width: 100%;
}
router-outlet {
  width: 100%;
}
.drawer-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.drawer-header-container a {
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.drawer-open {
  width: 25%;
}
.drawer-close {
  width: 60px;
}
.content-drawer-open {
  margin-left: 225px;
}
.content-drawer-close {
  margin-left: 59px;
}
#background {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#inner-router-container {
  top: 0;
  position: fixed;
  padding-left: 3rem;
}
#close {
  float: right;
  margin-bottom: 10px;
}
#login-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#google-button {
  height: 51px;
  margin: auto;
  padding-top: 1rem;
}

@media only screen and (min-width: 871px) {
  #close {
    display: none;
  }
  #google-button {
    height: 47px;
    width: 100%;
  }
}

@media only screen and (max-width: 870px) {
  .drawer-open {
    width: 60px;
  }
  .content-drawer-open {
    margin-left: 60px;
  }
  .drawer-header-container {
    display: none;
  }
  form {
    position: fixed;
    z-index: 2000;
    top: 10%;
    left: 25%;
    border-radius: 5px;
    background-color: #e5e5e5;
    -webkit-box-shadow: 14px 12px 36px 3px rgba(0,0,0,0.33);
    -moz-box-shadow: 14px 12px 36px 3px rgba(0,0,0,0.33);
    box-shadow: 14px 12px 36px 3px rgba(0,0,0,0.33);
  }
}
