<div class="container-fluid">
  <div class="header text-center">
    <br><br>
    <h3 class="title">Pair Picker</h3>
    <p class="category">
      <span *ngIf="stepper == 1">
        Select <span class="text-rose">one</span> to <span class="text-rose">three</span> people to work on a story...
      </span>
      <span *ngIf="stepper == 2">Select a story...</span>
    </p>
  </div>
  <div class="places-sweet-alerts">
    <div class="row" *ngIf="stepper == 1">
      <div class="col-md-3" *ngFor="let person of people">
        <div class="card">
          <div class="card-body text-center" [ngClass]="{'selected': person.selected}">
            <h5>{{person.first}} {{person.last}}</h5>
            <button class="btn btn-rose btn-fill mat-raised-button" mat-raised-button=""
                    (click)="person.selected = !person.selected; checkIfPeopleAreSelected()">
              <span class="mat-button-wrapper" *ngIf="!person.selected">Select</span>
              <span class="mat-button-wrapper" *ngIf="person.selected">Unselect</span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="stepper == 2">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div><h4 class="card-title ">Stories</h4>
          </div>
          <div class="card-body table-full-width">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>ID</th><th>Title</th><th>Points</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr [ngClass]="{'selected': story.selected}" *ngFor="let story of stories">
                <td>{{story.id}}</td><td>{{story.title}}</td>
                <td><span class="text-rose">{{story.points}}</span></td>
                <td>
                  <button class="btn btn-rose btn-sm btn-fill mat-raised-button" mat-raised-button="" (click)="story.selected = !story.selected; checkIfStoriesAreSelected()">
                  <span class="mat-button-wrapper" *ngIf="!story.selected">Select</span>
                  <span class="mat-button-wrapper" *ngIf="story.selected">Unselect</span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                </td></tr>
              </tbody></table></div></div></div></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-secondary btn-fill mat-raised-button" mat-raised-button="">
          <span class="mat-button-wrapper">Reset</span>
        </button>
        <button class="btn btn-rose btn-fill mat-raised-button" mat-raised-button=""
                *ngIf="stepper > 1"
                (click)="stepper = stepper - 1">
          <span class="mat-button-wrapper">Prev</span>
        </button>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-2">
        <button class="btn btn-rose btn-fill mat-raised-button" mat-raised-button=""
                [disabled]="(stepper == 1 && (peopleSelected.length > 3 || peopleSelected.length < 1)) ||
                (stepper == 2 && storiesSelected.length !== 1)"
                (click)="stepper = stepper + 1">
          <span class="mat-button-wrapper">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
